{% extends "base.html" %}

{% block title %}
    Crear Usuario
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Crear Usuario</h1>
    <form method="post" class="mx-auto" style="max-width: 500px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Guardar</button>
    </form>
    <div class="text-center mt-4">
        <a href="{% url 'usuario_list' %}" class="btn btn-secondary">Volver a la lista de usuarios</a>
    </div>
</div>
{% endblock %}
