{% extends "base.html" %}

{% block title %}
    Detalles de Usuario
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Detalles del Usuario</h1>
    <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-body">
            <p><strong>Nombre de Usuario:</strong> {{ usuario.username }}</p>
            <p><strong>Email:</strong> {{ usuario.email }}</p>
            <p><strong>Nombre:</strong> {{ usuario.first_name }}</p>
            <p><strong>Apellido:</strong> {{ usuario.last_name }}</p>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="{% url 'usuario_app:usuario_list' %}" class="btn btn-secondary">Volver a la lista de usuarios</a>
    </div>
</div>
{% endblock %}
