<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Usuario</title>
</head>
<body>
    <h1>Detalles del Usuario</h1>
    <p><strong>Nombre de Usuario:</strong> {{ usuario.username }}</p>
    <p><strong>Email:</strong> {{ usuario.email }}</p>
    <p><strong>Nombre:</strong> {{ usuario.first_name }}</p>
    <p><strong>Apellido:</strong> {{ usuario.last_name }}</p>
    <a href="{% url 'usuario_list' %}">Volver a la lista de usuarios</a>
</body>
</html>
