{% extends "base.html" %}

{% block title %}
    Lista de Usuarios
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Lista de Usuarios</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    <a href="{% url 'usuario_app:usuario_detail' usuario.id %}" class="btn btn-info btn-sm">Detalles</a>
                    <a href="{% url 'usuario_app:usuario_update' usuario.id %}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="{% url 'usuario_app:usuario_delete' usuario.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center mt-4">
        <a href="{% url 'usuario_app:usuario_create' %}" class="btn btn-primary">Crear nuevo usuario</a>
    </div>
</div>
{% endblock %}
