{% extends "base.html" %}

{% block title %}
    Crear Cliente
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Crear Cliente</h1>
    
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="user">Seleccionar Usuario</label>
            <select name="user" id="user" class="form-control" required>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>

        {{ form.as_p }}
        
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'usuario_app:cliente_list' %}" class="btn btn-secondary">Volver a la lista de clientes</a>
    </form>
</div>
{% endblock %}
