{% extends 'base.html' %}

{% block content %}
<div class="container-fluid hero-section">
    <div class="row align-items-center">
        <div class="col-lg-6 text-section">
            <h1 class="vehicle-name">NISSAN LEAF</h1>
            <p class="finance-option">FINANCIA HASTA 36 MESES</p>
            <p class="vehicle-price">$ 50.549.800</p>
            <div class="button-group">
                <a href="#" class="btn btn-primary contact-btn">Contactanos</a>
                <a href="#" class="btn btn-dark whatsapp-btn">Contactanos por WhatsApp</a>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
