{% extends "base.html" %}

{% block title %}
    Lista de Vehículos
{% endblock %}

{% block content %}
<style>
    .btn-custom {
        background-color: #2A5D78;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        padding: 8px 16px;
        border: none;
    }
    .btn-custom:hover {
        background-color: #244b5f;
    }
</style>
<div class="container mt-5">
    <h1 class="mb-4 text-center">Lista de Vehículos</h1>
    
    <div class="row">
        {% for car in cars %}
        <div class="col-md-4">
            <div class="card vehicle-card">
                {% if car.image %}
                    <img src="{{ car.image.url }}" alt="Imagen del vehículo" class="card-img-top vehicle-image">
                {% else %}
                    <div class="vehicle-image d-flex align-items-center justify-content-center">
                        <p class="text-muted">No hay imagen disponible</p>
                    </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ car.brand.name }} {{ car.model_car.name }}</h5>
                    <p class="card-text">Cuotas desde <strong>${{ car.price }}</strong></p>
                    <p class="card-text">Año: {{ car.year_production }}</p>
                    <p class="card-text text-muted">Condiciones sujetas a cambios.</p>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'vehiculos_app:car_detail' car.id %}" class="btn btn-custom">¡Ver Más!</a>
                        <a href="{% url 'vehiculos_app:car_update' car.id %}" class="btn btn-custom">Editar</a>
                        <a href="{% url 'vehiculos_app:car_delete' car.id %}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'vehiculos_app:car_create' %}" class="btn btn-primary">Crear nuevo vehículo</a>
    </div>
</div>
{% endblock %}
