<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Vehículos</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Lista de Vehículos</h1>
        
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Año</th>
                        <th>Precio</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for car in cars %}
                    <tr>
                        <td>{{ car.brand.name }}</td>
                        <td>{{ car.model_car.name }}</td>
                        <td>{{ car.year_production }}</td>
                        <td>${{ car.price }}</td>
                        <td>
                            {% if car.image %}
                                <img src="{{ car.image.url }}" alt="Portada del vehículo" class="img-fluid" style="width: 200px; height: auto;">
                            {% else %}
                                <p>No hay imagen disponible</p>
                            {% endif %}
                        </td>
                        
                        <td>
                            <a href="{% url 'vehiculos_app:car_detail' car.id %}" class="btn btn-info btn-sm mb-1">Ver</a>
                            <a href="{% url 'vehiculos_app:car_update' car.id %}" class="btn btn-warning btn-sm mb-1">Editar</a>
                            <a href="{% url 'vehiculos_app:car_delete' car.id %}" class="btn btn-danger btn-sm mb-1">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="text-center mt-4">
            <a href="{% url 'vehiculos_app:car_create' %}" class="btn btn-primary">Crear nuevo vehículo</a>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
